@import '../../../../variables.scss';

.Admin-card{
  font-family: 'Courier New', Courier, monospace;
  color: $black;
  display: block;
  width: 100%;
  text-align: left;
  border: 1px solid $white;
  background-color: $white;
  margin: 10px 0;
  padding: 5px;
  max-width: 500px;
  .admin-photo-item{
    
    .admin-labels{
      display: flex;
      img{
        width: 25px;
        heIght: 25px;
      }
    }
  }
  .admin-buttons{
    display: flex;
    button{
      padding: 5px 7px;
      margin: 10px 10px 0 10px;
      border: 1px solid $black;
      cursor: pointer;
      font-size: 13px;
    }
    .edit{
      padding: 5px 7px;
      margin: 10px 10px 0 10px;
      border: 1px solid $black;
      cursor: pointer;
      text-decoration: none;
      background-color: $lightGrey;
      color: $black;
      font-size: 13px;
    }
  }
}