@import "../../variables.scss";

.detailed-item {
  .detailed-item-content {
    max-width: 800px;
    width: 100%;
    min-height: 400px;
    margin: 0 auto;
    background-color: $white;
    display: flex;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    justify-content: space-around;
    .detailed-item-photo {
      position: relative;
      max-width: 320px;
      height: 320px;
      width: 100%;
      margin: 10px auto;
      .mask {
        position: absolute;
        top: 0;
        bottom: 10px;
        left: 0;
        width: 100%;
        height: 320px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;

        .availability {
          position: absolute;
          top: 130px;
          left: 65px;
          color: $white;
          font-size: 40px;
          transform: rotate(45deg);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
        }
      }
      img {
        width: 100%;
        height: 320px;
      }
    }
    .detailed-item-text {
      position: relative;
      text-align: left;
      padding: 25px 0;
      max-width: 320px;
      width: 100%;
      margin: 0 auto;
      .title {
        font-size: 25px;
        font-weight: 700;
      }
      .caution{
        font-size: 20px;
      }
      .labels {
        display: flex;
        img {
          max-width: 25px;
          width: 100%;
          height: auto;
          display: block;
        }
      }
      .longDescription {
        font-family: $secondaryTextFF;
        font-size: 15px;
        white-space: break-spaces;
        span {
          font-family: $mainTextFF;
          font-size: 20px;
          
        }
      }
      .price {
        font-size: 20px;
        span {
          font-weight: 700;
        }
      }
      .setDiscount{
        display: block;
        text-align: left;
        label{
          margin-right: 10px;
          font-size: 20px;
        }
      }
      .buttons {
        position: absolute;
        bottom: 15px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .add-to-cart,
        .back-btn {
          cursor: pointer;
          padding: 5px 10px;
          max-width: 140px;
          width: 100%;
          margin: 0;
          font-family: $secondaryTextFF;
          font-size: 12px;
          font-weight: 700;
          display: inline-block;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
        }

        button.add-to-cart {
          background-color: $lightGreen;
          color: $white;
        }
        .back-btn {
          text-decoration: none;
          background-color: $lightGrey;
          color: $darkGreen;
          padding: 5px 35px;
        }
        button:disabled,
        button[disabled] {
          border: 1px solid $lightGrey;
          background-color: $lightGrey;
          color: $white;
          cursor: not-allowed;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .detailed-item {
    max-width: 370px;
    width: 100%;
    .detailed-item-content {
      flex-direction: column;
      // max-width: 300px;
      // height: 550px;
      width: 100%;
      .detailed-item-photo{
        max-width: 350px;
        width: 100%;
        height: 350px;
        margin: 0 auto;
        .mask{
          // height: 350px;
          max-width: 350px;
          width: 100%;
          top: 10px;
          bottom: 10px;
          .availability{
            top: 127px;
            left: 57px;
            font-size: 50px;
          }
        }
        img{
          width: 100%;
          max-width: 350px;
        }
      }
      .detailed-item-text {
        padding: 5px 5px 0;
        max-width: 350px;
        .title{
          font-size: 35px;
        }
        .caution{
          font-size: 30px;
        }
        .labels {
          height: 35px;
          img {
            max-width: 35px;
            width: 100%;
            height: auto;
            display: block;
          }
        }
        .longDescription {
          font-family: $secondaryTextFF;
          font-size: 20px;
          min-height: 400px;
          span {
            font-family: $mainTextFF;
            font-size: 35px;
            
          }
        }
        .price {
          font-size: 40px;
          span {
            font-weight: 700;
            font-size: 35px;
          }
        }

        .buttons {
          flex-direction: column;
          margin: 0 auto;
          max-width: 280px;
          position: relative;

          .add-to-cart,
          .back-btn {
            margin: 10px auto;
            max-width: 280px;
            width: 100%;
            font-size: 20px;
            padding: 10px 15px;
            font-size: 25px;
            text-align: center;
          }
        }
      }
    }
  }
}
