@import "../../variables.scss";

.card {
  max-width: 220px;
  display: block;
  width: 100%;
  margin: 20px 35px;
  padding: 10px;
  background-color: $white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 2px 2px 2px $white;
  .card-content {
    height: 350px;
    .title {
      color: $darkGreen;
      font-size: 20px;
    }
    .photo-item {
      position: relative;
      max-width: 200px;
      width: 100%;
      margin: 0 auto;
      .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;

        .availability {
          position: absolute;
          top: 75px;
          left: 30px;
          color: $white;
          font-size: 30px;
          transform: rotate(45deg);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
        }
      }
      img {
        cursor: pointer;
        width: 100%;
        height: 200px;
      }
      .labels {
        display: flex;
        img.label {
          max-width: 25px;
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
    .price {
      font-size: 15px;
      text-align: left;
    }
   .quantity-block{
    display: block;
    .quantity-text{
      display: none;
    }
    .quantity-input{
      margin: 5px 0;

      }
   }
    .shortDescription {
      text-align: left;
      font-family: $secondaryTextFF;
      font-size: 10px;
      margin-top: 5px;
    }
  }
  .card-btn {
    font-family: $secondaryTextFF;
    font-size: 14px;
    font-weight: 600;
    bottom: 20px;
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    button.add-to-cart,
    .details {
      cursor: pointer;
      font-weight: 600;
      padding: 5px 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      width: 100%;
    }
    .details {
      color: $darkGreen;
      background-color: $lightGrey;
      margin-bottom: 10px;
      text-decoration: none;
    }
    button.add-to-cart {
      background-color: $lightGreen;
      color: $white;
    }
    button:disabled,
    button[disabled] {
      border: 1px solid $lightGrey;
      background-color: $lightGrey;
      color: $white;
      cursor: not-allowed;
    }
  }
}
