@import "../../variables.scss";

.card {
  max-width: 20%;
  // max-width: 220px;
  display: inline-block;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  background-color: $bckgcolor;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 2px 2px 2px #fff;
  .card-content {
    height: 350px;
    .title {
      color: #5c821a;
      font-size: 20px;
    }
    .photo-item {
      max-width: 200px;
      width: 100%;
      margin: 0 auto;
      img {
        cursor: pointer;
        width: 100%;
      }
      .labels {
        display: flex;
        img {
          max-width: 25px;
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
    .price {
      font-size: 25px;
      text-align: left;
    }
    .quantity-input{
      width: 100%;
      max-width: 75px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      .quantity-input__decr,
      .quantity-input__incr{
        max-width: 25px;
        width: 100%;
        display: block;
        font-size: 10px;
      }
      .quantity-input__windpw{
        display: block;
        max-width: 65px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
      input::-webkit-inner-spin-button {
        display: none!important;
      }
  }
    .shortDescription {
      text-align: left;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
    }
  }
  .card-btn {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 600;
    bottom: 20px;
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .details{
      color: #5c821a;
      background-color: #ccc;
      margin-bottom: 10px;
      text-decoration: none;
    }
    button.add-to-cart {
      background-color: $colorWB;
      color: #fff;
    }
    button.add-to-cart, 
    .details {
      cursor: pointer;
      font-weight: 600;
      padding: 5px 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      width: 100%;
    }
  }
}
