@import "../../variables.scss";

.card {
  max-width: 220px;
  display: block;
  width: 100%;
  margin: 20px 35px;
  padding: 10px;
  background-color: $white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 2px 2px 2px $white;
  .card-content {
    height: 420px;
    .title {
      color: $darkGreen;
      font-size: 20px;
      h3 {
        font-size: 1em;
      }
      .caution {
        font-size: 10px;
        font-weight: 400;
        color: $black;
        font-family: $secondaryTextFF;
      }
    }
    .photo-item {
      position: relative;
      max-width: 200px;
      width: 100%;
      margin: 0 auto;
      .discount {
        color: white;
        background-color: $lightGreen;
        position: absolute;
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        z-index: 1;
        bottom: 30px;
        cursor: pointer;
        .tooltiptext {
          position: absolute;
          z-index: 1;
          top: 10px;
          left: 10px;
          visibility: hidden;
          width: 120px;
          border: 1px solid $lightGrey;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.8);
          font-size: 10px;
          font-weight: 400;
          color: $black;
          font-family: $secondaryTextFF;
        }
      }
      .discount:hover .tooltiptext {
        visibility: visible;
      }
      .mask {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 200px;
        width: 100%;
        height: 200px;
        z-index: 2;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        .availability {
          position: absolute;
          top: 75px;
          left: 30px;
          color: $white;
          font-size: 30px;
          transform: rotate(45deg);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
        }
      }
      img {
        cursor: pointer;
        max-width: 200px;
        width: 100%;
        height: 200px;
        // height: 200px;
      }
      .labels {
        display: flex;
        height: 25px;
        img.label {
          max-width: 25px;
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
    .price {
      font-size: 15px;
      text-align: left;
    }
    .quantity-block {
      display: block;
      .quantity-text {
        display: none;
      }
      .quantity-input {
        margin: 5px 0;
      }
    }
    .setDiscount{
      display: block;
      text-align: left;
      label{
        margin-right: 10px;
      }
    }
    .shortDescription {
      text-align: left;
      font-family: $secondaryTextFF;
      font-size: 10px;
      margin-top: 5px;
      .discount-desc {
        display: flex;
        span {
          font-size: 9px;
        }
      }
    }
  }
  .card-btn {
    font-family: $secondaryTextFF;
    font-size: 14px;
    bottom: 20px;
    max-width: 155px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .add-to-cart,
    .details {
      cursor: pointer;
      font-weight: 600;
      padding: 5px 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      width: 100%;
    }
    .details {
      color: $darkGreen;
      background-color: $lightGrey;
      margin-bottom: 10px;
      text-decoration: none;
    }
    .add-to-cart {
      background-color: $lightGreen;
      color: $white;
      font-size: 14px;
    }
    button:disabled,
    button[disabled] {
      // border: 1px solid $lightGrey;
      background-color: $lightGrey;
      color: $white;
      cursor: not-allowed;
    }
  }
}

@media only screen and (max-width: 768px) {
  .card {
    max-width: 350px;
    .card-content {
      height: 650px;
      .title {
        width: 100%;
        h3{
        font-size: 30px;
        font-weight: 600;
        }
      }
      .photo-item {
        max-width: 280px;
        // height: 330px;
        img {
          max-width: 280px;
          width: 100%;
          height: 280px;
        }
        .discount {
          bottom:42px;
          height: 30px;
          font-size: 25px;
        }
        .mask {
          position: absolute;
          top: 0;
          left: 0;
          max-width: 280px;
          width: 100%;
          height: 280px;
          .availability {
            top: 130px;
            left: 50px;
            color: $white;
            font-size: 48px;
          }
        }
        .labels {
          height: 35px;
          margin: 2px auto;
          img.label {
            max-width: 35px;
            
          }
        }
      }
      .price {
        font-size: 25px;
      }
      .disc-block{
        font-size: 25px;
      }
      .quantity-block {
        display: block;
        .quantity-input {
          margin: 10px 0;
        }
      }
      .setDiscount{
        font-size: 25px;
      }
      .shortDescription {
        font-size: 20px;
        margin-top: 10px;
        min-height: 50px;
      }
    }
    .card-btn {
      max-width: 280px;
      .add-to-cart,
      .details {
        padding: 10px 15px;
        font-size: 25px;
      }
    }
  }
}
