@import "../../variables.scss";

.main {
  .main-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    text-align: right;
    color: $white;
    max-width: 800px;
    width: 100%;
    margin: 100px auto 0;
    .main-sup {
      font-size: 40px;
    }
    .main-header {
      font-size: 60px;
    }
    .main-btn{
      margin-top: 20px;
      a {
        border: 1px solid $darkGreen;
        background-color: $darkGreen;
   
        color: $white;
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        cursor: pointer;
        font-size: 25px;
        transition: color 0.2s linear;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        box-shadow: 3px 3px 3px $darkGreen;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -ms-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
    }
      a:hover {
        color: $lightGreen;
      }
    }
   
  }
}
